body {
  margin: 0px;
  overflow: hidden;
}

.container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.axis path,
		.axis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
		}
		
		.gridline {
			opacity: 0.25;
		}